<div class="rotas">
    <div class="esquerda">
      <ul id="nav">
        <li><a routerLink='home'>Home</a></li>
        <li><a routerLink='adesivo'>Adesivo</a></li>  
        <li><a routerLink='bermuda'>Bermuda</a></li>
          <li><a routerLink='blusa'>Blusa</a></li>
          <li><a routerLink='bone'>Bone</a></li>
          <li><a routerLink='calca'>Calça</a></li>
          <li><a routerLink='camisa'>Camisa</a></li>
          <li><a routerLink='chinelo'>Chinelo</a></li>
          <li><a routerLink='regata'>Regata</a></li>
          <li><a routerLink='touca'>Touca</a></li>
          <li><a routerLink='chaveiro'>Chaveiro</a></li>
        </ul>
    </div>
<div>
    <router-outlet></router-outlet>  
</div>

</div>
